fieldset{ 
    width:600px;
    margin:auto;
}
label{ widows: 15em;
float: left;
clear:left;
text-align: center;
padding-right: 1em;}
input{ float: right;}
output{
    text-align: center;
    display: none;
    position: relative;
    top:600px;
opacity: 0;
}