fieldset{ 
    width:600px;
    margin:auto;
    text-align: center;
}
label{ widows: 15em;
float: left;
clear:left;
text-align: right;
padding-right: 1em;}
input{ float: right;
}
#output{
    text-align: center;
    display: none;
    position: relative;
    top:600px;

}
body
{
     font: 24px
}